pip>=25.0.1
git+https://github.com/kashishg173/BasicSR.git@master
facexlib>=0.2.5
lmdb
numpy
opencv
opencv-python-headless
pyyaml
scipy
tb-nightly
torch>=1.7
torchvision
tqdm
yapf
mediapipe
gfpgan
realesrgan
moviepy==1.0.3
scikit-image
